#team, #vision {
    text-align: center;
}

body {
    background-color: #9CAFAA;
}

.bio-name {
    font-weight: 700;
}

#bios {
    display: inline-flex;
}

.bio {
    padding: 5px;
    width: 25%;
    margin:10px;
    background-color: #EFBC9B;
    border-radius: 20px;
}

.about-team {
    text-align: justify;
}

