#team, #vision {
    text-align: center;
    color: white;
}

body {
    background-color: #9A3B3B;
    color: white;
}

.bio-name {
    font-weight: 700;
}

#bios {
    display: flex;
    flex-direction: horizontal;
}

.bio {
    color: black;
    padding: 5px;
    width: 25%;
    margin:10px;
    background-color: #F5F5DC;
    border-radius: 20px;
}

.about-team {
    text-align: justify;
}

img {
    height: 250px;
    border-radius: 20px;
}

.bio-title {
    display: flex;
    flex-direction: column;
}

