
.navbar {
    background-color: #f1ffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.navbar .logo {
    font-family: 'Newsreader', serif;
    color: #883202;
    font-size: 28px;
}
.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; 
}
.navbar .nav-links a {
    text-decoration: none; 
    color:#552901;; 
}
.navbar .nav-links a:hover {
    color: #880402c1; 
}
.button-group {
    display: flex;
    gap: 10px;
    justify-content: center; 
    align-items: center;
    margin: 20px 0;
    opacity:0;
}
#goods,
#services {
    border: none; 
    color: #552901;
    padding: 10px 20px;
    cursor: pointer; 
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Newsreader', 'serif';
}

#services.active {
    background-color: #552901;
    color: white;
}
#goods.active {
    background-color: #552901;
    color: white;
}

#goods:hover,
#services:hover {
    background-color: #883202;
    color: white;
}